#cardTitulo {
    text-align: center;
    font-size: 30px;
    background: #87CEEB;
    margin-bottom: 5px;
    width: 50%;
    margin: 0 auto;
}

#cardCorpo {
    text-align: center;
    background: #F0F8FF;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    height: 650px;
}

.inputCliente {
    font-size: 20px;
    width: 60%;
}

#botaoSalvar {
    font-size: 25px;
    background: #87CEEB;
    width: 200px;
    height: 50px;
}

#botaoRetornar {
    font-size: 25px;
    background: #B0C4DE;
    width: 200px;
    height: 50px;
    margin-left: 15px;
}

#divBotao {
    margin-top: 183px;
}