<div id="principal">
  <mat-card id="cardTitulo">Cadastro de Locação</mat-card>

  <mat-card id="cardCorpo">
    <mat-form-field class="inputCliente" style="margin-top: 80px;">
        <input id="nomeLocacao" [(ngModel)]="nome" matInput placeholder="Nome Cliente">
    </mat-form-field>
      <br>
      <mat-form-field class="inputCliente">
          <input id="carroLocacao" [(ngModel)]="locacao.carro" matInput placeholder="Carro">
      </mat-form-field>
      <br>
      <mat-form-field class="inputCliente">
          <input id="dataLocacao" [(ngModel)]="locacao.data" matInput placeholder="Data">
      </mat-form-field>
      <br>
      <mat-form-field class="inputCliente">
          <input id="valorLocacao" [(ngModel)]="locacao.valor" matInput placeholder="Valor">
      </mat-form-field>
      <br>

      <div id="divBotao">
          <button mat-button id="botaoSalvar" (click)="salvar()">Salvar</button>
          <button mat-button id="botaoRetornar" (click)="retornar()">Retornar</button>
      </div>
  </mat-card>
</div>