#cardTitulo {
    text-align: center;
    font-size: 30px;
    background: #87CEEB;
    margin-bottom: 5px;
    width: 50%;
    margin: 0 auto;
}

#cardLista {
    text-align: center;
    background: #F0F8FF;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    height: 650px;
}

.itemLista {
    border-bottom: 1px solid #87CEEB;
}

#botaoIncluir {
    font-size: 25px;
    background: #87CEEB;
    width: 200px;
    height: 50px;
}

#botaoRetornar {
    font-size: 25px;
    background: #B0C4DE;
    width: 200px;
    height: 50px;
    margin-left: 15px;
}

#divLista {
    overflow: auto;
    height: 560px;
}

#divBotao {
    margin-top: 30px;
}

.tituloItem {
    font-weight: bold;
}